<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :funding_goal %>
    <%= f.number_field :funding_goal %>
  </div>

  <div class="field">
    <%= f.label :started_at %>
    <%= f.datetime_field :started_at %>
  </div>

  <div class="field">
    <%= f.label :ended_at %>
    <%= f.datetime_field :ended_at %>
  </div>

  <h4>Add rewards</h4>


<div id="rewards">
  <%= f.fields_for :rewards do |reward| %>
    <%= render 'rewards_fields', f: reward %>
    <% end %>
</div>

<div class='links'>
  <%= link_to_add_association 'add reward', f, :rewards %>
</div>

  <%= f.submit %>
<% end %>
