<%= form_for(@project) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :funding_goal %>
    <%= f.number_field :funding_goal %>
  </div>

  <div>
    <%= f.label :started_at %>
    <%= f.datetime_field :started_at %>
  </div>

  <div>
    <%= f.label :ended_at %>
    <%= f.datetime_field :ended_at %>
  </div>

  <h4>Categories</h4>
  <% @categories.each do |category| %>
    <%= check_box_tag "project[category_ids][]", category.id, category.id.in?(@project.categories.collect(&:id)) %>
    <%= category.name %>
  <% end %>

  <h4>Add rewards</h4>

  <div id="rewards">
    <%= f.fields_for :rewards do |reward_fields| %>
      <%= render 'reward_fields', f: reward_fields %>
    <% end %>
      <div class="links">
        <%= link_to_add_association 'add reward', f, :rewards %>
      </div>
  </div>

  <%= f.submit %>
<% end %>
