<% project.rewards.each do |reward| %>
	Reward name: <%= reward.name %>,
	Description: <%= reward.description %>,
	Amount: <%= reward.backer_limit %>
	<br />

	<%= form_for(@pledge, :url => project_reward_pledges_path(@project, @reward)) do |f| %>
	 	<div class="field">
	 		<%= f.label :amount %>
	 		<%= f.number_field :amount %>
	 	</div>

	 	<div class="action">
	 		<%= f.submit %>
	 	</div>
	<% end %>
<% end %>