<h1>Projects</h1>
<% @projects.each do |project| %>
  <ul>
    <li><%= link_to project.name, project_path(project) %></li>
    <li><%= project.description %></li>
    <li><%= project.funding_goal %></li>
    <li><%= project.started_at %></li>
    <li><%= project.ended_at %></li>
  </ul>
<% end %>