<h2>Project <%= @project.name %></h2>
<% if @project.users.find_by(current_user) %>
  <div class="backed">You have backed the project!</div>
<% else %>
  <div class="backed">You have not backed The project!</div>
<% end %>

<li><%= @project.description %></li>
<li><%= @project.funding_goal %></li>
<li><%= @project.started_at %></li>
<li><%= @project.ended_at %></li>
<li>amount: <span id="amount"><%= @amount_raised %></span></li>
<li>days left: <%= @days_left %></li>
<%= render partial: 'rewardWithPledges', locals: {project: @project} %>