<h2>Project <%= @project.name %></h2>
<ul>
  <li><%= @project.description %></li>
  <li><%= @project.funding_goal %></li>
  <li><%= @project.started_at %></li>
  <li><%= @project.ended_at %></li>
</ul>
<h2>Rewards</h2>
<%= render partial: "rewards/rewards", locals: {project: @project} %>

